[submodule "core"]
	path = core
	url = https://github.com/PhanManh69/e2music-core.git
[submodule "main"]
	path = main
	url = https://github.com/PhanManh69/e2music-main.git
[submodule "account"]
	path = account
	url = https://github.com/PhanManh69/e2music-account.git
[submodule "dashboard-domain"]
	path = dashboard-domain
	url = https://github.com/PhanManh69/e2music-dashboard-domain.git
